.wp-block-columns,
.module.block,
blockquote {
	&:not(.no-top-spacing) {
		margin-top: clamp(5.381rem, 4.821rem + 2.389vw, 7.688rem);
	}
	&:not(.no-bottom-spacing) {
		margin-bottom: clamp(5.381rem, 4.821rem + 2.389vw, 7.688rem);
	}
}

.wp-block-columns {
	gap: clamp(1.75rem, 1.568rem + 0.777vw, 2.5rem);
	& + .wp-block-columns {
		margin-top: 0;
	}
	@include breakpoint(medium down) {
		flex-direction: column;
	}
	.wp-block-column {
		// margin-bottom: $smallGutter;
		// @include breakpoint(medium) {
		// 	margin-bottom: $mediumGutter;
		// }
		&.black-drop-shadow {
			margin-right: clamp(0.875rem, 0.784rem + 0.388vw, 1.25rem);
			margin-bottom: clamp(2.669rem, 2.391rem + 1.185vw, 3.813rem);
		}
	}	
	&:has(.black-drop-shadow) {
		@include breakpoint(medium down) {
			gap: 0;
		}
	}
	
}

.wp-block-column {
	word-break: normal;
}