header.site-header {
	position: relative;
	z-index: 99999;
	padding-top: 40px;
	
	#top-bar-menu {
		
		@include breakpoint( medium down ) {
			flex-wrap: nowrap;
			.top-bar-left {
				flex: 0 0 auto;
				width: calc(100% - 2rem - 50px);
			}
		}
		
		
		li.logo {
			max-width: 240px;
			a {
				padding: 0;
			}			
		}
			
		#main-nav {
			align-items: center;
			>li {
				margin: 0;
				
				> a {
					@extend .p;
					font-weight: 700;
					text-decoration: underline;
					text-decoration-thickness: 1px;
					text-underline-offset: 0.12em;
					margin: 0 0rem 0rem 2.9em;
					&:hover,
					&:focus {
						color: $black;
						text-underline-offset: 0em;
					}
					
				}
				
			&.is-active,
			&.current-menu-ancestor {
				span:before {
					background-color: $black;
				}
			}
				
			&.menu-item-has-children {
				
				ul.submenu {
					li {
						a {

							
						&:hover {

						}
							
						}
						
					}
				}
	
			}

			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 50px;
			    height: 50px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 50px;
				    height: 10px;
				    background-color: $black;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 20px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
				
			&.clicked {
				span {
					&:nth-child(1) {
						top: 4px;
						transform: translate(0px, 16px) rotate(-45deg);
					}
			
					&:nth-child(2) {
						top: 16px;
						left: 50%;
						right: 100%;
						width: 0;
					}
					
					&:nth-child(3) {
						bottom: 4px;
						transform: translate(0px, -16px) rotate(45deg);
					}
				}				
			}
			    
		    }
		    
		}
	
	}
	
}

ul#offcanvas-nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 90vw;
	max-width: 500px;
	height: calc(100vh - 171px);
	background: $white;
	padding: 2rem 3rem 4rem;
	overflow: auto;
	display: none;
	li {
		a {
			@extend .p;
			@extend .has-large-font-size;
			display: inline-block;
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: 0.12em;
			margin-bottom: .3em;
			&:hover,
			&:focus {
				color: $black;
				text-underline-offset: 0em;
			}
		}
	}
}

.off-canvas-wrapper {
	&:before {
		content: '';
		display: block;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $black;
		display: none;
	}
}

#off-canvas {
	position: relative;
	z-index: 1;
}

.mobile-nav-opened {
	background-color: $black;
	overflow: hidden;
	header.site-header {
		filter: invert(1);	
	}
	.off-canvas-wrapper {
		&:before {
			display: block;
		}
	}
	ul#offcanvas-nav {
		display: block;
	}
}