body .wp-block-column {
	word-break: normal;
	overflow-wrap: normal;
}
body .alm-btn-wrap .alm-load-more-btn,
p,
.p,
ul,
ol,
button,
.button,
.wp-element-button,
.wp-block-button__link,
body .gform-theme.gform-theme--framework.gform_wrapper .button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)),
body .gform-theme.gform-theme--framework.gform_wrapper :where(:not(.mce-splitbtn))>button:not([id*=mceu_]):not(.mce-open):where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .gform-theme.gform-theme--framework.gform_wrapper button.button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)) {
	line-height: 1.4;
	font-size: clamp(1.125rem, 0.943rem + 0.777vw, 1.875rem);
	@include letter-spacing(-15);
}

.has-medium-font-size {
	font-size: clamp(1.125rem, 0.943rem + 0.777vw, 1.875rem);
}

.has-large-font-size {
	font-size: clamp(2.188rem, 1.961rem + 0.97vw, 3.125rem);
}

p,
.p,
ul,
ol {
	font-weight: 500;
}

a {
	color: $black;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	&.no-top-spacing {
		margin-top: 0 !important;
	}
	&.no-bottom-spacing {
		margin-bottom: 0 !important;
	}
}

h1,
.h1 {
	font-size: clamp(2.625rem, 2.352rem + 1.165vw, 3.75rem);
	line-height: 1.2;
	font-weight: 500;
	margin-bottom: 1em;
}

h2,
.h2 {
	font-size: clamp(2.188rem, 1.961rem + 0.97vw, 3.125rem);
	line-height: 1.2;
	font-weight: 500;
	margin-bottom: .44em;
}

.weight-medium {
	font-weight: 500;
}