p,
.p,
ul,
ol,
button,
.button,
.wp-element-button,
.wp-block-button__link {
	line-height: 1.4;
	font-size: clamp(1.125rem, 0.861rem + 1.127vw, 1.875rem);
	@include letter-spacing(-15);
}

p,
.p,
ul,
ol {
	font-weight: 500;
}

a {
	color: $black;
}

h1,
.h1 {
	font-size: clamp(2.625rem, 2.229rem + 1.69vw, 3.75rem);
	line-height: 1.2;
	font-weight: 500;
	margin-bottom: 1em;
}

h2,
.h2 {
	font-size: clamp(2.188rem, 1.857rem + 1.408vw, 3.125rem);
	line-height: 1.2;
	font-weight: 500;
	margin-bottom: .44em;
}