.insights.custom-block,
.posts-title-list {
	article {
		a {
			.title {
				text-decoration: underline;
				text-decoration-thickness: 1px;
				text-underline-offset: 0.12em;
				text-decoration-color: transparent;
			}
			&:hover,
			&:focus {
				color: $black;
				.title {
					text-decoration-color: $black;
				}
			}
			.grid-x {
				padding-top: rem-calc(16);
				padding-bottom: rem-calc(17);
				.cell {
					padding: calc($smallGutter * .5) 0; 
				}
				gap: clamp(1.75rem, 1.568rem + 0.777vw, 2.5rem);				@include breakpoint(medium) {
					.cell {
						padding: calc($mediumGutter * .5) 0; 
					}
				}
			}
		}
	}
}