.insights.custom-block {
	article {
		a {
			position: relative;
			column-gap: $smallGutter;
			padding-top: 16px;
			padding-bottom: 22px;
			.title {
				text-decoration: underline;
				text-decoration-thickness: 1px;
				text-underline-offset: 0.12em;
				text-decoration-color: transparent;
			}
			&:hover,
			&:focus {
				color: $black;
				.title {
					text-decoration-color: $black;
				}
			}
			hr {
				position: absolute;
				bottom: 0;
				width: 100%;
				margin: 0;
				border-bottom:clamp(0.219rem, 0.196rem + 0.097vw, 0.313rem) solid $black;
				&.top {
					bottom: auto;
					top: 0;
				}
			}
			.cell {
				padding:  calc($smallGutter * .5) 0; 
			}
			@include breakpoint(medium) {
				column-gap: $mediumGutter;
				.cell {
					padding:  calc($mediumGutter * .5) 0; 
				}
			}
		}
	}
}