.space-between {
  justify-content: space-between;
}

.bordered {
  border: clamp(0.438rem, 0.393rem + 0.194vw, 0.625rem) solid #000;
}
.bordered.wp-block-column, .bordered.block-core-columns, .bordered.padded {
  padding: clamp(1.313rem, 1.176rem + 0.583vw, 1.875rem);
}

.black-drop-shadow {
  box-shadow: 19px 19px 0px 1px rgb(0, 0, 0);
}

.ps-40 {
  padding-left: clamp(1.75rem, 1.568rem + 0.777vw, 2.5rem);
}

.pt-40 {
  padding-top: clamp(1.75rem, 1.568rem + 0.777vw, 2.5rem);
}

.pb-40 {
  padding-bottom: clamp(1.75rem, 1.568rem + 0.777vw, 2.5rem);
}

.pe-40 {
  padding-right: clamp(1.75rem, 1.568rem + 0.777vw, 2.5rem);
}

.m-0 {
  margin: 0;
}

.row-gap-0 {
  row-gap: 0 !important;
}
.row-gap-0 ul.wp-block-list {
  margin-bottom: 0;
}

.no-bullet {
  list-style: none;
}

.add-pointer-to-link a .pointer-link {
  white-space: nowrap;
}
.add-pointer-to-link a .pointer-link:after {
  content: "";
  display: inline-block;
  margin-left: 2px;
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="45.102" height="39.232" viewBox="0 0 45.102 39.232"><defs><clipPath id="a"><path data-name="Rectangle 42" fill="none" d="M0 0h40.464v20.501H0z"/></clipPath></defs><g data-name="Group 2"><g data-name="Group 1" transform="rotate(33 5.58 18.833)" clip-path="url(%23a)"><path data-name="Path 31" d="M35.479 3.42a1.88 1.88 0 0 1 .347-.134 1.2 1.2 0 0 1 .3-.045q1.3 0 2.2 2.246a15.415 15.415 0 0 1 .906 5.713v.29a14.047 14.047 0 0 1-.732 5.39 2.5 2.5 0 0 1-2.414 1.609h-.2a2.3 2.3 0 0 0 .693.581 1.651 1.651 0 0 0 .783.2q1.452 0 2.28-2.057a15.833 15.833 0 0 0 .827-5.723 16.487 16.487 0 0 0-1.09-6.46Q38.3 2.5 36.709 2.5a1.162 1.162 0 0 0-.716.234 1.709 1.709 0 0 0-.514.682m.268 1.3a22.619 22.619 0 0 1-8.7-2.593q-.826-.38-1.23-.581a21.479 21.479 0 0 0-3.2-1.23A9.007 9.007 0 0 0 20.321 0a36.881 36.881 0 0 0-6.629.749 55.641 55.641 0 0 0-7.746 2.045 23.658 23.658 0 0 0-4.47 1.934Q0 5.633 0 6.394q0 .672.96 1.04a9.325 9.325 0 0 0 2.84.436h.089a23 23 0 0 0 4.2-.527 22.7 22.7 0 0 1 3.756-.525c.224 0 .4 0 .537.011s.261.019.38.033a6.781 6.781 0 0 0-1.521 1.409 2.264 2.264 0 0 0-.491 1.342 2 2 0 0 0 .637 1.431 4.393 4.393 0 0 0 1.844 1.028 5.283 5.283 0 0 0-.7 1.062 2.062 2.062 0 0 0-.212.861 1.814 1.814 0 0 0 .5 1.307 2.879 2.879 0 0 0 1.487.749c-.031.253-.056.469-.079.649a3.743 3.743 0 0 0-.033.469 2.114 2.114 0 0 0 .29 1.1 1.828 1.828 0 0 0 .805.738 16.078 16.078 0 0 0 3.6 1.052 23.149 23.149 0 0 0 4.4.446 10.247 10.247 0 0 0 4.795-1.274q2.427-1.274 2.6-1.319a12.535 12.535 0 0 1 2.527-.38 17.693 17.693 0 0 0 2.659-.357 7.288 7.288 0 0 0 1.309-2.526 12.944 12.944 0 0 0 .39-3.489 12.816 12.816 0 0 0-.446-3.5 9.951 9.951 0 0 0-1.386-2.94"/></g></g></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}
.add-pointer-to-link a .pointer-link:hover::after, .add-pointer-to-link a .pointer-link:focus::after {
  animation: wobbleAround 0.6s infinite;
}

@keyframes wobbleAround {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(-3px, 2px) rotate(-5deg);
  }
  40% {
    transform: translate(2px, -3px) rotate(5deg);
  }
  60% {
    transform: translate(3px, 3px) rotate(-5deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(5deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
.wp-block-columns:not(.no-top-spacing),
.wp-block-group:not(.no-top-spacing),
.module.block:not(.no-top-spacing),
.wp-block-pullquote:not(.no-top-spacing) {
  margin-top: clamp(5.381rem, 4.821rem + 2.389vw, 7.688rem);
}
.wp-block-columns:not(.no-bottom-spacing),
.wp-block-group:not(.no-bottom-spacing),
.module.block:not(.no-bottom-spacing),
.wp-block-pullquote:not(.no-bottom-spacing) {
  margin-bottom: clamp(5.381rem, 4.821rem + 2.389vw, 7.688rem);
}
.wp-block-columns cite,
.wp-block-group cite,
.module.block cite,
.wp-block-pullquote cite {
  font-size: 0.9em;
}

.wp-block-columns.grid .wp-block-group,
.wp-block-columns.grid .module.block {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
}
@media print, screen and (min-width: 48.8125em) {
  .wp-block-columns.grid .wp-block-group,
  .wp-block-columns.grid .module.block {
    margin-bottom: 40px;
  }
}

.equal-heights {
  align-items: normal !important;
}
.equal-heights > * {
  display: flex;
}

.wp-block-columns {
  gap: clamp(1.75rem, 1.568rem + 0.777vw, 2.5rem);
}
.wp-block-columns + .wp-block-columns {
  margin-top: 0;
}
@media print, screen and (max-width: 61.99875em) {
  .wp-block-columns {
    flex-direction: column;
  }
}
@media print, screen and (min-width: 48.8125em) and (max-width: 61.99875em) {
  .wp-block-columns > .wp-block-column {
    flex-basis: auto !important;
  }
}
.wp-block-columns .wp-block-column.black-drop-shadow {
  margin-right: clamp(0.875rem, 0.784rem + 0.388vw, 1.25rem);
  margin-bottom: clamp(2.669rem, 2.391rem + 1.185vw, 3.813rem);
}
@media print, screen and (max-width: 61.99875em) {
  .wp-block-columns:has(.black-drop-shadow) {
    gap: 0;
  }
}

.wp-block-column {
  word-break: normal;
}

.wp-block-buttons.is-vertical {
  gap: clamp(3.106rem, 2.783rem + 1.379vw, 4.438rem);
}

.wp-block[data-type="core/widget-area"],
.blocks-widgets-container .editor-styles-wrapper {
  max-width: 1920px !important;
}

.editor-visual-editor :where(.wp-block),
.block-editor-block-list__block :where(.wp-block) {
  max-width: 1920px !important;
}
.editor-visual-editor body .wp-block-column,
.block-editor-block-list__block body .wp-block-column {
  word-break: normal;
  overflow-wrap: normal;
}
.editor-visual-editor body .alm-btn-wrap .alm-load-more-btn,
.editor-visual-editor p,
.editor-visual-editor .p,
.editor-visual-editor ul,
.editor-visual-editor ol,
.editor-visual-editor button,
.editor-visual-editor .button,
.editor-visual-editor .wp-element-button,
.editor-visual-editor .wp-block-button__link,
.editor-visual-editor body .gform-theme.gform-theme--framework.gform_wrapper .button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)),
.editor-visual-editor body .gform-theme.gform-theme--framework.gform_wrapper :where(:not(.mce-splitbtn)) > button:not([id*=mceu_]):not(.mce-open):where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .editor-visual-editor .gform-theme.gform-theme--framework.gform_wrapper button.button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)),
.block-editor-block-list__block body .alm-btn-wrap .alm-load-more-btn,
.block-editor-block-list__block p,
.block-editor-block-list__block .p,
.block-editor-block-list__block ul,
.block-editor-block-list__block ol,
.block-editor-block-list__block button,
.block-editor-block-list__block .button,
.block-editor-block-list__block .wp-element-button,
.block-editor-block-list__block .wp-block-button__link,
.block-editor-block-list__block body .gform-theme.gform-theme--framework.gform_wrapper .button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)),
.block-editor-block-list__block body .gform-theme.gform-theme--framework.gform_wrapper :where(:not(.mce-splitbtn)) > button:not([id*=mceu_]):not(.mce-open):where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)),
.block-editor-block-list__block .gform-theme.gform-theme--framework.gform_wrapper button.button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)) {
  line-height: 1.4;
  font-size: clamp(1.125rem, 0.943rem + 0.777vw, 1.875rem);
  letter-spacing: -0.015em;
}
.editor-visual-editor .has-medium-font-size,
.block-editor-block-list__block .has-medium-font-size {
  font-size: clamp(1.125rem, 0.943rem + 0.777vw, 1.875rem);
}
.editor-visual-editor .has-large-font-size,
.block-editor-block-list__block .has-large-font-size {
  font-size: clamp(2.188rem, 1.961rem + 0.97vw, 3.125rem);
}
.editor-visual-editor p,
.editor-visual-editor .p,
.editor-visual-editor ul,
.editor-visual-editor ol,
.block-editor-block-list__block p,
.block-editor-block-list__block .p,
.block-editor-block-list__block ul,
.block-editor-block-list__block ol {
  font-weight: 500;
}
.editor-visual-editor a,
.block-editor-block-list__block a {
  color: #000;
}
.editor-visual-editor h1,
.editor-visual-editor .h1,
.block-editor-block-list__block h1,
.block-editor-block-list__block .h1 {
  font-size: clamp(2.625rem, 2.352rem + 1.165vw, 3.75rem);
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 1em;
}
.editor-visual-editor h2,
.editor-visual-editor .h2,
.block-editor-block-list__block h2,
.block-editor-block-list__block .h2 {
  font-size: clamp(2.188rem, 1.961rem + 0.97vw, 3.125rem);
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 0.44em;
}
.editor-visual-editor .weight-medium,
.block-editor-block-list__block .weight-medium {
  font-weight: 500;
}
.editor-visual-editor p,
.editor-visual-editor ul,
.editor-visual-editor ol,
.editor-visual-editor h1,
.editor-visual-editor h2,
.editor-visual-editor h3,
.editor-visual-editor h4,
.editor-visual-editor h5,
.editor-visual-editor h6,
.block-editor-block-list__block p,
.block-editor-block-list__block ul,
.block-editor-block-list__block ol,
.block-editor-block-list__block h1,
.block-editor-block-list__block h2,
.block-editor-block-list__block h3,
.block-editor-block-list__block h4,
.block-editor-block-list__block h5,
.block-editor-block-list__block h6 {
  font-family: "embarcadero-mvb-pro-condense", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}
.editor-visual-editor .block-editor-block-list__layout .block-editor-block-list__block,
.block-editor-block-list__block .block-editor-block-list__layout .block-editor-block-list__block {
  z-index: 0;
}
.editor-visual-editor .acf-block-body .acf-link a.button,
.block-editor-block-list__block .acf-block-body .acf-link a.button {
  font-size: initial;
  letter-spacing: initial;
  line-height: 26px;
}
.editor-visual-editor .wp-element-button,
.editor-visual-editor .wp-block-button__link,
.block-editor-block-list__block .wp-element-button,
.block-editor-block-list__block .wp-block-button__link {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0.6667em 1.5em;
  border: 10px solid #000;
  border-radius: 0;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 0.9rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  line-height: 1.4;
  font-size: clamp(1.125rem, 0.943rem + 0.777vw, 1.875rem);
  letter-spacing: -0.015em;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  position: relative;
  padding-right: 20px;
  margin-bottom: 20px;
  width: calc(100% - 20px) !important;
}
.editor-visual-editor .wp-element-button:before,
.editor-visual-editor .wp-block-button__link:before,
.block-editor-block-list__block .wp-element-button:before,
.block-editor-block-list__block .wp-block-button__link:before {
  content: "";
  display: block;
  border: 10px solid #000;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 8px;
  left: 10px;
}
.editor-visual-editor .wp-block-pullquote:not(.no-top-spacing),
.block-editor-block-list__block .wp-block-pullquote:not(.no-top-spacing) {
  margin-top: clamp(5.381rem, 4.821rem + 2.389vw, 7.688rem);
}
.editor-visual-editor .wp-block-pullquote:not(.no-bottom-spacing),
.block-editor-block-list__block .wp-block-pullquote:not(.no-bottom-spacing) {
  margin-bottom: clamp(5.381rem, 4.821rem + 2.389vw, 7.688rem);
}
.editor-visual-editor .wp-block-pullquote cite,
.block-editor-block-list__block .wp-block-pullquote cite {
  font-size: 0.9em;
}